body {
    margin: 0;
    font-family: Arial, sans-serif;
}



header{
    display:flex;
    background-color: blue;
    height: 150px;
    padding: 10px;
    text-align: center;

}

.logo_inicial{
    height: 145px;
}

.header-image {
    width: 150px; /* Ajusta el tamaño de la imagen al ancho del header */
    height:140px ; /* Mantiene la proporción de la imagen */

}

.whatsapp_button

   {
      width: 40px;
      height: 40px;
      border-radius: 50%; /* Esto hace que el elemento sea circular */
      overflow: hidden;
}

/*estilos en mobile*/

@media (max-width: 641px) {

    header{
        background-color: blue;
        height: 72px;
        padding: 5px;
        text-align: center;
    
    }

 .contenedor_header1{
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente (opcional) */
   
    
 }   

 .container{
    display:block;
    justify-content: space-between;
    gap: 40px; 
    margin: 0 70px;
    margin-top: 50px;
    }  
    

.item{

    background-color: lightblue;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    height: 200px;
    min-width: 200px; /* Ancho mínimo para cada contenedor */
    text-align: center; 


}


}

 /*estilos en Desktop*/
 
 @media (min-width: 642px) {

    header{
        background-color: blue;
        height: 150px;
        padding: 10px;
        text-align: center;
    
    }

    .container {
        display: flex; 
        justify-content: space-between;
        gap: 10px; 
        margin: 0 70px;
        margin-top: 50px;
    }  

    .item {
        background-color: lightblue;
        padding: 20px;
        margin: 10px;
        border: 1px solid #ccc;
        height: 200px;
        min-width: 200px; /* Ancho mínimo para cada contenedor */
        text-align: center; 

        }

        .contenedor_header1{
            display: flex;
            align-items: center; /* Centra verticalmente */
            justify-content: center; /* Centra horizontalmente (opcional) */
           
            
         }     

    }